.header {
  padding: 20px;
  text-align: center;
  background: #484848;
  border-bottom: 2px solid #4a9594;
}

.logo {
  font-size: 2.5em;
  font-weight: 600;
  color: #4a9594;
  margin-bottom: 5px;
  letter-spacing: -1px;
}

.tagline {
  font-size: 0.9em;
  color: #cbcbcb;
  font-weight: 300;
}

@media (max-width: 640px) {
  .logo {
    font-size: 2em;
  }
}
