.footer-info {
  margin-top: 30px;
  padding-top: 25px;
  border-top: 1px solid #555;
  text-align: center;

  p {
    color: #cbcbcb;
    font-size: 0.85em;
    margin: 8px 0;
    font-weight: 300;
  }

  strong {
    color: #4a9594;
    font-weight: 500;
  }
}
