.recently-played {
  margin-top: 20px;
  text-align: center;
}

.label {
  display: block;
  color: var(--primary-color);
  font-size: 0.75em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 8px 0;
  border-bottom: 1px solid var(--border-color);

  &:last-child {
    border-bottom: none;
  }
}

.track-title {
  display: block;
  color: #fff;
  font-size: 0.85em;
  font-weight: 400;
}

.track-artist {
  display: block;
  color: var(--text-light);
  font-size: 0.8em;
  font-weight: 300;
}
